<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="<%= site.author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= site.siteDescription %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <% if (site.og) { %>
        <% for (var prop in site.og) { %>
            <meta name="og:<%= prop %>" content="<%= site.og[prop] %>">
        <% } %>
    <% } %>
    <title>
        <% if (site.siteSubTitle) { %>
            <%= site.siteName %> - <%= site.siteSubTitle %>
        <% } else { %>
            <%= site.siteName %>
        <% } %>
    </title>
    <link rel="shortcut icon" href="<%= site.siteIcon %>">
</head>