<div class="content index">
    <div class="container-fluid blog-content">
        <% page.postArr.forEach(function (post) { %>
            <div class="row">
                <article class="col-md-12">
                    <div class="article-head">
                        <h3><a href="/<%- post.pageUrl %>/<%- post.urlName %>/"><%- post.title %></a></h3>
                        <span class="date index-date"><%- post.formatedDate %></span>
                    </div>
                    <div class="post-descrip markdown"><%- post.description %></div>
                    <span class="tags">
                        <% post.tags.forEach(function (tag, index, arr) { %>
                            <% if (index >= arr.length - 1) { -%>
                                <i><a><%- tag %></a></i>
                            <% } else { %>
                                <i><a><%- tag %>,</a></i>
                            <% } %>
                        <% }); %>
                    </span>
                    <hr>
                </article>
            </div>
        <% }); %>
        <%- include('parts/nav') %>
    </div>
</div>
