<div class="content index">
    <div class="container-fluid blog-content">
        <% page.postArr.forEach(function (post) { %>
            <div class="row">
                <article class="col-md-12">
                    <div class="article-head">
                        <h3><a href="/<%- post.pageUrl %>/<%- post.urlName %>/"><%- post.title %></a></h3>
                        <span class="date index-date"><%- post.formatedDate %></span>
                    </div>
                    <p><%- post.description %></p>
                    <span class="tags">
                        <% post.tags.forEach(function (tag) { %>
                            <i><a><%- tag %></a></i>
                        <% }); %>
                    </span>
                    <hr>
                </article>
            </div>
        <% }); %>
    </div>
    <%- include('parts/nav') %>
</div>
