<div class="content index">
    <div class="container-fluid blog-content">
        <div class="row">
            <article class="col-md-12">
                <div class="article-head">
                    <h3><a>第一篇文章</a></h3>
                    <span class="date index-date">Feb 8th, 1997</span>
                </div>
                <p>这是第一篇文章，测试测试测试测试。</p>
                <span class="tags"><i><a>tag1</a></i>, <i><a>标签2</a></i></span>
                <hr>
            </article>
        </div>
        <% page.postArr.forEach(function (post) { %>
            <div class="row">
                <article class="col-md-12">
                    <div class="article-head">
                        <h3><a><%- post.title %></a></h3>
                        <span class="date index-date"><%- post.formatedDate %></span>
                    </div>
                    <p><%- post.description %></p>
                    <span class="tags">
                        <% post.tags.forEach(function (tag) { %>
                            <i><a><%- tag %></a></i>
                        <% }); %>
                    </span>
                    <hr>
                </article>
            </div>
        <% }); %>
    </div>
    <%- include('parts/nav') %>
</div>
