<div class="content post">
    <%- include('parts/share') %>
    <div class="blog">
        <div class="post-header">
            <h2 class="blog-title"><%- page.title %></h2>
            <time class="publish-time"><%- page.formatedDate %></time>
        </div>
        <div class="blog-main markdown">
            <%- contents %>
        </div>
        <div class="blog-tags">
            <i class="fa fa-tags"></i>
            <% page.tags.forEach(function (tag, index, arr) { %>
                <% if (index >= arr.length - 1) { -%>
                    <span class="post-tag"><%- tag -%></span>
                <% } else { %>
                    <span class="post-tag"><%- tag -%>,</span>
                <% } %>
            <% }); %>
        </div>
        <%- include('parts/nav') %>
        <% if (site.comment) { %>
            <%- include('parts/comment') %>
        <% } %>
    </div>
</div>